.selection{padding: 10px;
padding-right: 50px;}

body{color: rgb(81, 80, 80);
background-color: rgb(226, 224, 224);}

.main{display: flex;
flex-direction: row;
margin-top: 50px;
justify-content: center;
align-items: center;}

.card1{height: 650px;
width:350px;
padding: 20px;
border: 2px black solid;}

.p1{color: gray;}

.button{background-color: rgb(5, 121, 96);
color: white;
padding: 10px 40%;
border: none;}

.p2{color: rgb(5, 121, 96); }

.a3{color: rgb(5, 121, 96); 
font-size: 20px;}

.b1{font-size: 40px;
position: relative;}

.d1{padding-top: 5px;
padding-bottom: 10px;
line-height: 10px;}

.p3{position: absolute;
top: 23%;
left: 20px;}

.d4{line-height: 40px;}





@media(min-width:931px) and (max-width:1200px){
    .main{flex-direction: row;
        display: flex;
    flex-wrap: wrap;}
    .card1{width:25%;
        margin-right: 10px;
        margin-bottom: 10px;
        height: 100%;
    }
} 


@media(min-width:746px) and (max-width:930px){
    .main{flex-direction: row;
        display: flex;
    flex-wrap: wrap;}
    .card1{width:40%;
        margin-right: 10px;
        margin-bottom: 10px;
    }
} 

@media(max-width:745px){
    .main{flex-direction: column;
    flex-wrap: wrap;}
    .card1{height: 100%;
    margin-bottom: 10px;
}
}
